In [ ]:
import pandas as pd
df = pd.read_csv('brfss_final.csv')
df

In [ ]:
import numpy as np
import matplotlib.pyplot as plt 
from sklearn import datasets, linear_model, model_selection

Pora na jakiś plan...
Może, jak się ma BMI do GENHLTH ?
wkładasz BMI dostajesz GENHLTH

In [ ]:
df.corr(method='pearson')

In [ ]:
selected = df[["BMI","GENHLTH", "_AGE80","DIABETE3"]]
selected.head()

In [ ]:
genhealth = selected.GENHLTH
bmi = selected.BMI

In [ ]:
plt.scatter(genhealth,bmi,color="black")
plt.xlabel("Genhealth")
plt.ylabel("BMI")
plt.show()

In [ ]:
selected.groupby(['GENHLTH'])['BMI'].mean().plot(kind='bar')

plt.ylabel("BMI")

In [ ]:
#korelacja - układ kropek
#linia rosnąca albo malejąca -1 do 1

plt.scatter('BMI', 'GENHLTH', data=selected)

In [ ]:
selected.shape

In [ ]:
print(selected['BMI'].corr(selected['GENHLTH']))

In [ ]:
# selected = selected[selected["_AGE80"] >=50 ]
# selected = selected[selected["BMI"] < 60]

In [ ]:
selected.shape

In [ ]:
print(selected['BMI'].corr(selected['GENHLTH']))
print(selected['_AGE80'].corr(selected['GENHLTH']))
print(selected['BMI'].corr(selected['DIABETE3']))
print(selected['_AGE80'].corr(selected['DIABETE3']))

In [157]:
df.apply(pd.value_counts)

C:\Users\48691\AppData\Local\Temp\ipykernel_8848\4221818830.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  df.apply(pd.value_counts)

,SLEPTIM1,BMI,GENHLTH,MENTHLTH,PHYSHLTH,DIABETE3,CVDINFR4,EXERANY2,SMOKE100,_AGE80
0.00,NaN,NaN,NaN,3348.0,3166.0,NaN,NaN,NaN,NaN,NaN
1.00,8.0,NaN,830.0,172.0,216.0,652.0,305.0,3797.0,2139.0,NaN
2.00,17.0,NaN,1760.0,224.0,325.0,36.0,4695.0,1203.0,2861.0,NaN
3.00,38.0,NaN,1507.0,143.0,177.0,4234.0,NaN,NaN,NaN,NaN
4.00,134.0,NaN,668.0,69.0,80.0,78.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
78.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.0
79.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.0
80.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,359.0
92.44,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97.65,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN