In [17]:
#load data

import pandas as pd

df = pd.read_csv('brfss2018_sample_v2.csv')
df.head()

,SLEPTIM1,_BMI5,GENHLTH,MENTHLTH,PHYSHLTH,DIABETE3,CVDINFR4,EXERANY2,SMOKE100,_AGE80,...,PVTRESD1,COLGHOUS,STATERE1,CELLFON4,LADULT,NUMADULT,NUMMEN,NUMWOMEN,SAFETIME,CTELNUM1
0,5.0,2480.0,1.0,88.0,88.0,3.0,2.0,1.0,1.0,64.0,...,1.0,NaN,1.0,2.0,NaN,1.0,5.397605e-79,1.0,NaN,NaN
1,10.0,3446.0,3.0,88.0,88.0,3.0,1.0,2.0,1.0,80.0,...,1.0,NaN,1.0,2.0,NaN,2.0,1.000000e+00,1.0,NaN,NaN
2,6.0,NaN,1.0,5.0,88.0,3.0,2.0,1.0,2.0,24.0,...,1.0,NaN,1.0,2.0,NaN,2.0,1.000000e+00,1.0,NaN,NaN
3,7.0,2829.0,2.0,88.0,88.0,3.0,2.0,2.0,1.0,41.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
4,3.0,2661.0,1.0,88.0,2.0,3.0,2.0,1.0,1.0,76.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0

In [18]:
df.shape

(20000, 30)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 30 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SLEPTIM1  20000 non-null  float64
 1   _BMI5     18353 non-null  float64
 2   GENHLTH   20000 non-null  float64
 3   MENTHLTH  20000 non-null  float64
 4   PHYSHLTH  20000 non-null  float64
 5   DIABETE3  19999 non-null  float64
 6   CVDINFR4  20000 non-null  float64
 7   EXERANY2  19999 non-null  float64
 8   SMOKE100  19347 non-null  float64
 9   _AGE80    20000 non-null  float64
 10  _STATE    20000 non-null  float64
 11  FMONTH    20000 non-null  float64
 12  IDATE     20000 non-null  object
 13  IMONTH    20000 non-null  object
 14  IDAY      20000 non-null  object
 15  IYEAR     20000 non-null  object
 16  DISPCODE  20000 non-null  float64
 17  SEQNO     20000 non-null  object
 18  _PSU      20000 non-null  float64
 19  CTELENM1  7640 non-null   float64
 20  PVTRESD1  7640 non-null   float64
 21  COLGHOUS  0 non-null      float64
 22  STATERE1  7640 non-null   float64
 23  CELLFON4  7640 non-null   float64
 24  LADULT    0 non-null      float64
 25  NUMADULT  7640 non-null   float64
 26  NUMMEN    7640 non-null   float64
 27  NUMWOMEN  7638 non-null   float64
 28  SAFETIME  12360 non-null  float64
 29  CTELNUM1  12360 non-null  float64
dtypes: float64(25), object(5)
memory usage: 4.6+ MB

In [20]:
df["_BMI5"]

0        2480.0
1        3446.0
2           NaN
3        2829.0
4        2661.0
          ...
19995    2529.0
19996    2281.0
19997    2441.0
19998    1899.0
19999       NaN
Name: _BMI5, Length: 20000, dtype: float64

In [21]:
core_cols = [
    "SLEPTIM1",   # godziny snu
    "_BMI5",      # BMI * 100
    "GENHLTH",    # ogólna ocena zdrowia
    "MENTHLTH",   # dni złego zdrowia psychicznego
    "PHYSHLTH",   # dni złego zdrowia fizycznego
    "DIABETE3",   # cukrzyca (tak/nie/inna)
    "CVDINFR4",   # przebyty zawał
    "EXERANY2",   # aktywność fizyczna
    "SMOKE100",   # ≥100 wypalonych papierosów w życiu
    "_AGE80"      # wiek w przedziałach
]

small = df[core_cols].copy()

In [22]:
for col in core_cols:
    print(df[col].value_counts().head(10))

SLEPTIM1
7.0     6020
8.0     5707
6.0     4325
5.0     1315
9.0      875
4.0      552
10.0     468
77.0     210
3.0      159
12.0     133
Name: count, dtype: int64
_BMI5
2663.0    191
2746.0    188
2441.0    150
2712.0    142
2744.0    142
2510.0    136
2870.0    120
2421.0    119
3228.0    112
2349.0    105
Name: count, dtype: int64
GENHLTH
2.0    6596
3.0    6396
1.0    3189
4.0    2739
5.0    1031
7.0      27
9.0      22
Name: count, dtype: int64
MENTHLTH
88.0    13294
30.0     1065
2.0       917
5.0       730
1.0       651
3.0       596
10.0      521
15.0      505
20.0      295
7.0       281
Name: count, dtype: int64
PHYSHLTH
88.0    12364
30.0     1619
2.0      1136
1.0       845
3.0       609
5.0       601
10.0      426
7.0       376
15.0      364
77.0      328
Name: count, dtype: int64
DIABETE3
3.0    16757
1.0     2698
4.0      341
2.0      174
7.0       19
9.0       10
Name: count, dtype: int64
CVDINFR4
2.0    18657
1.0     1239
7.0       92
9.0       12
Name: count, dtype: int64
EXERANY2
1.0    14958
2.0     5006
7.0       25
9.0       10
Name: count, dtype: int64
SMOKE100
2.0    11003
1.0     8224
7.0      100
9.0       20
Name: count, dtype: int64
_AGE80
80.0    1580
65.0     497
68.0     481
62.0     461
67.0     460
60.0     459
66.0     455
70.0     454
69.0     435
63.0     425
Name: count, dtype: int64

In [23]:
for col in core_cols:
    print(col)
    print(small[col].isna().sum())

SLEPTIM1
0
_BMI5
1647
GENHLTH
0
MENTHLTH
0
PHYSHLTH
0
DIABETE3
1
CVDINFR4
0
EXERANY2
1
SMOKE100
653
_AGE80
0

In [24]:
small.describe()

,SLEPTIM1,_BMI5,GENHLTH,MENTHLTH,PHYSHLTH,DIABETE3,CVDINFR4,EXERANY2,SMOKE100,_AGE80
count,20000.000000,18353.000000,20000.000000,20000.000000,20000.000000,19999.000000,20000.000000,19999.000000,19347.000000,20000.000000
mean,7.892950,2831.526508,2.603350,63.338050,60.273500,2.745337,1.965250,1.261813,1.608001,54.945000
std,8.042849,645.957860,1.102125,36.329091,37.134299,0.730584,0.452938,0.508707,0.671798,17.368462
min,1.000000,1216.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,18.000000
25%,6.000000,2391.000000,2.000000,20.000000,15.000000,3.000000,2.000000,1.000000,1.000000,42.000000
50%,7.000000,2734.000000,3.000000,88.000000,88.000000,3.000000,2.000000,1.000000,2.000000,58.000000
75%,8.000000,3132.000000,3.000000,88.000000,88.000000,3.000000,2.000000,2.000000,2.000000,69.000000
max,99.000000,9765.000000,9.000000,99.000000,99.000000,9.000000,9.000000,9.000000,9.000000,80.000000

In [25]:
import numpy as np

# small.replace([77,99],np.nan,inplace=True)


# for col in core_cols:
#     if col != "SLEPTIM1":
#         small.loc[(small[col]== 7) | (small[col]== 9),col] = np.nan

missing_codes = {
    "SLEPTIM1": [77, 99],
    "GENHLTH": [7, 9],
    "MENTHLTH": [77, 99],
    "PHYSHLTH": [77, 99],
    "DIABETE3": [7, 9],
    "CVDINFR4": [7, 9],
    "EXERANY2": [7, 9],
    "SMOKE100": [7, 9],
    "_BMI5": [9999]
}

for col, codes in missing_codes.items():
    small[col] = small[col].replace(codes, np.nan)

# a 88 → 0 specjalnie
small["MENTHLTH"] = small["MENTHLTH"].replace(88, 0)
small["PHYSHLTH"] = small["PHYSHLTH"].replace(88, 0)

In [26]:
for col in core_cols:
    print(f"col {col} : {(small[col] == 7).sum()}")

col SLEPTIM1 : 6020
col _BMI5 : 0
col GENHLTH : 0
col MENTHLTH : 281
col PHYSHLTH : 376
col DIABETE3 : 0
col CVDINFR4 : 0
col EXERANY2 : 0
col SMOKE100 : 0
col _AGE80 : 0

In [27]:
small.describe()

,SLEPTIM1,_BMI5,GENHLTH,MENTHLTH,PHYSHLTH,DIABETE3,CVDINFR4,EXERANY2,SMOKE100,_AGE80
count,19762.000000,18353.000000,19951.000000,19685.000000,19610.000000,19970.000000,19896.000000,19964.000000,19227.000000,20000.000000
mean,7.029501,2831.526508,2.590346,3.590348,4.387761,2.738157,1.937726,1.250751,1.572268,54.945000
std,1.485755,645.957860,1.070612,7.853886,8.916260,0.705452,0.241658,0.433456,0.494763,17.368462
min,1.000000,1216.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,18.000000
25%,6.000000,2391.000000,2.000000,0.000000,0.000000,3.000000,2.000000,1.000000,1.000000,42.000000
50%,7.000000,2734.000000,3.000000,0.000000,0.000000,3.000000,2.000000,1.000000,2.000000,58.000000
75%,8.000000,3132.000000,3.000000,2.000000,3.000000,3.000000,2.000000,2.000000,2.000000,69.000000
max,24.000000,9765.000000,5.000000,30.000000,30.000000,4.000000,2.000000,2.000000,2.000000,80.000000

In [28]:
small = small.dropna()

In [29]:
small.shape

(17234, 10)

In [30]:
#korekta bmi

small["_BMI5"] = small["_BMI5"] / 100
small["_BMI5"].head()

0    24.80
1    34.46
3    28.29
4    26.61
5    64.02
Name: _BMI5, dtype: float64

In [31]:
small.head()

,SLEPTIM1,_BMI5,GENHLTH,MENTHLTH,PHYSHLTH,DIABETE3,CVDINFR4,EXERANY2,SMOKE100,_AGE80
0,5.0,24.80,1.0,0.0,0.0,3.0,2.0,1.0,1.0,64.0
1,10.0,34.46,3.0,0.0,0.0,3.0,1.0,2.0,1.0,80.0
3,7.0,28.29,2.0,0.0,0.0,3.0,2.0,2.0,1.0,41.0
4,3.0,26.61,1.0,0.0,2.0,3.0,2.0,1.0,1.0,76.0
5,8.0,64.02,4.0,30.0,30.0,1.0,1.0,2.0,2.0,57.0

In [ ]:
small_final = small.sample(5000,random_state=42)
small_final =small_final.rename(columns={"_BMI5":"BMI"})
small_final

,SLEPTIM1,BMI,GENHLTH,MENTHLTH,PHYSHLTH,DIABETE3,CVDINFR4,EXERANY2,SMOKE100,_AGE80
7200,6.0,25.06,3.0,0.0,0.0,3.0,1.0,2.0,1.0,55.0
1282,4.0,23.69,1.0,0.0,0.0,3.0,2.0,2.0,1.0,67.0
1693,8.0,23.03,1.0,25.0,26.0,3.0,2.0,2.0,2.0,21.0
19923,7.0,23.75,1.0,0.0,0.0,3.0,2.0,1.0,2.0,57.0
17439,1.0,45.24,3.0,1.0,5.0,3.0,2.0,1.0,2.0,54.0
...,...,...,...,...,...,...,...,...,...,...
10095,10.0,35.43,4.0,0.0,30.0,3.0,2.0,1.0,2.0,59.0
6914,8.0,34.01,3.0,10.0,7.0,3.0,2.0,2.0,2.0,57.0
5260,8.0,27.80,2.0,0.0,0.0,3.0,2.0,1.0,1.0,63.0
11733,7.0,22.46,4.0,7.0,10.0,1.0,2.0,1.0,2.0,22.0
9527,8.0,21.95,3.0,0.0,0.0,3.0,2.0,1.0,2.0,80.0

In [35]:
small_final.to_csv("brfss_final.csv",index=False)